.header-fixed.fixed-header {
  position: relative;
  background: #1c4d57;
  padding-top: 2px;
}
.main-header.fixed-header.is-fixed {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 3px;
  padding-bottom: 0;
  position: fixed;
  box-shadow: 0 0 18px #0000000a;
}
.section {
  padding: 40px 0px;
}
.wrapper-layout {
    display: flex;
    height: 100%;
    border-bottom: 1px solid #ddd;
}
.topinfo_land_one p {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 25px;
    letter-spacing: 0.3px;
}
.topinfo_land_one h2 {
    font-size: 26px;
    line-height: 46px;
}
/* TOP GRID */
.top-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.gallery .main-image {
  width: 100%;
  border-radius: 12px;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbs img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

/* ENQUIRY BOX */
.enquiry-box {
  background: #f1f7f3;
  padding: 25px;
  border-radius: 12px;
  position: sticky;
  top: 120px;
}

.enquiry-box h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

.enquiry-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.enquiry-box button {
  width: 100%;
  padding: 12px;
  background: #295c3a;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
}

.secure-note {
  margin-top: 15px;
  font-size: 15px;
  background: #fafcf4;
  padding: 15px;
  border-radius: 6px;
  position: relative;
  padding-left: 45px;
}

.secure-note .icon {
  position: absolute;
  left: 15px;
  font-size: 25px;
  top: 15px;
}

.secure-note strong {
  font-weight: 500;
  margin-bottom: 2px;
  display: block;
}

/* TITLE */
.price-title {
  margin: 30px 0;
  margin-top: 0;
}

.price-title h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 45px;
}

.price-title p {
  font-size: 15px;
}

.badge {
  display: inline-block;
  background: #295c3a;
  color: #fff;
  padding: 13px 14px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.view-more {
  display: block;
  margin-top: 10px;
  color: #295c3a;
  font-weight: 500;
  font-size: 17px;
}

/* CONTENT */
.content-box {
  background: transparent;
  padding: 15px 0px;
  border-radius: 0;
  margin-bottom: 25px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.location-location h3,
.content-box h2,
.land_list h3 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 12px;
  font-family: "Marcellus", serif;
  font-weight: normal;
}

.location-location p {
  font-size: 17px;
}

.land_list .section-subtext {
  font-size: 15px;
  margin-bottom: 25px;
}

.location-location a {
  margin-top: 12px;
  color: #295c3a;
  font-size: 15px;
  border-bottom: 2px solid;
}

.location-location a .icon {
  font-size: 12px;
  margin-left: 2px;
}

.content-box p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

.content-box ul {
  padding-left: 20px;
}

.content-box li {
  margin-bottom: 8px;
  list-style: disc;
  font-size: 15px;
}

/* LOT SECTION */
.lot-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.map-box h3 {
  font-size: 25px;
  margin-bottom: 12px;
  line-height: 30px;
}

.map-box img {
  width: 100%;
  border-radius: 12px;
}

.estate-box {
  background: #f9f9f6;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estate-box img {
  max-width: 100%;
  margin-bottom: 10px;
}

.estate-box p {
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  gap: 4px;
}

.estate-box p img {
  position: relative;
  top: 1px;
}

.btn-outline {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #295c3a;
  color: #295c3a;
  border-radius: 6px;
}

/* LOCATION */
.location-box {
  display: block;
  border-top: 1px solid #ddd;
  gap: 20px;
  margin-top: 30px;
}

/* CRITICAL FIX */
.gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0px;
}

/* Main Swiper height control */
.mainSwiper {
  width: 100%;
  height: 650px; /* adjust if needed */
  overflow: hidden;
}

/* Swiper internal fix */
.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbSwiper {
  margin-top: 12px;
  position: absolute;
  bottom: 22px;
  width: 40%;
  left: 5%;
}

.thumbSwiper .swiper-slide {
  width: 90px;
  height: auto;
  opacity: 1;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 10px;
}

.thumbSwiper .swiper-slide-thumb-active {
  opacity: 1;
  border-color: #295c3a;
}

.thumbSwiper img {
  border-radius: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

.topinfo_land_one button::before {
  content: none;
}

.footer-quick-links h2 {
  font-size: 30px;
  font-family: "Marcellus", serif;
  font-weight: normal;
}

.estate_update {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.estate_update a {
  width: 100%;
}

.quick-links-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.quick-link-card {
  background: #fff;
  padding: 20px;
  border-radius: 0;
  text-decoration: none;
  color: #222;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 1px solid #e9e9e9;
}

.quick-link-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.quick-link-card h3 {
  font-size: 17px;
  margin-bottom: 5px;
  color: #295c3a;
  font-weight: 500;
  line-height: 26px;
}

.quick-link-card p {
  font-size: 14px;
  color: #383838;
}

.quick-link-card .arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #3f6f62;
}

.hero-overlay {
  position: absolute;
  left: 5%;
  top: 35%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.75);
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  z-index: 2;
  text-align: center;
}

.logo {
  width: 180px;
}

.tagline {
  margin: 12px 0;
  font-size: 14px;
}

.hero-overlay h2 span {
  color: #0f3f2f;
  font-size: 28px;
}

.hero-buttons {
  display: block;
  gap: 10px;
  margin-top: 20px;
}

.hero-buttons button {
  display: block;
  font-size: 16px;
  padding: 12px 30px;
  width: 100%;
}

.btn-outline.full {
  width: 30%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  padding: 12px 30px;
}

/* SIDEBAR */
.sidebar {
  background: #fdfcfc;
  padding: 25px;
  border-radius: 12px;
  position: sticky;
  top: 120px;
  text-align: center;
}

.sidebar-logo {
  width: 140px;
}

.developer {
  display: block;
  border-top: 1px solid #d4d4d4;
  padding-top: 9px;
  margin-top: 6px;
  padding-bottom: 9px;
}

.verified {
  display: flex;
  background: #e2e3dd;
  padding: 8px 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-top: 1px solid #d4d4d4;
  padding-top: 10px;
  color: #000;
  font-size: 15px;
}

/* BUTTONS */
.btn {
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.btn.primary {
  background: #0f3f2f;
  color: #fff;
  display: block;
  font-weight: 400;
}

.btn.secondary {
  background: #fff;
  border: 1px solid #0f3f2f;
  color: #0f3f2f;
}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.land-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.land-card img {
  width: 100%;
  border-radius: 0;
  transform: scale(1.3);
}

.land-card .badge {
  position: absolute;
  background: rgb(63 111 98 / 88%);
  color: #fff;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 4px;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  font-weight: 400;
}

.land-card h3 {
  margin-top: 0px;
  font-size: 20px;
  font-family: "Marcellus", serif;
  font-weight: normal;
  line-height: 25px;
  margin-bottom: 0;
}

.land-card .location {
  display: block;
  margin-bottom: 11px;
  margin-top: 5px;
  font-size: 14px;
  color: #626262;
}
.footer_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.footer_data .price {
  margin: 0;
  font-size: 16px;
}

.footer_data .icon {
}

.location {
  color: #353535;
  font-size: 15px;
  margin-bottom: 12px;
}

.land-card .info_content {
  padding: 15px;
}

.highlight {
  color: #64956d;
}

.price {
  margin-top: 8px;
  font-weight: 600;
}

.land-card .image_card {
  max-height: 215px;
  min-height: 215px;
  overflow: hidden;
  position: relative;
}

/* Overlay */
.enquiry-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal */
.enquiry-modal {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
  position: relative;
  animation: popupFade 0.3s ease;
}

/* Close Button */
.enquiry-modal .close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  color: #000000;
}

.enquiry-modal .close-btn:before {
  content: none;
}

.enquiry-modal h3 {
  font-size: 24px;
}

.enquiry-modal p {
  margin-bottom: 15px;;
}

/* Form */
.enquiry-form input,
.enquiry-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.enquiry-form textarea {
  resize: none;
}

.enquiry-form button {
  margin-top: 10px;
}

/* Animation */
@keyframes popupFade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* RESPONSIVE */
@media (max-width: 992px) {
  .top-grid,
  .lot-section,
  .location-box {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .header-fixed.fixed-header {
    height: auto;
    padding: 3px 0px;
  }
  .hero-overlay {
        left: 10px;
    right: 10px;
  }
  .btn-outline.full {
        width: auto;
  }
  .location-location a {
    margin-bottom: 20px;
  }

}
